<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CountTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CountTestUnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CountUnitTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>192F2CF116B76090009C97DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>192F2D0816B760E4009C97DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B47EB8E14F0AE7A00371407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B47EBA914F0AE7A00371407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
